{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}

<main class="main container">
    <div class="custom-center-block">
        <h2 class="custom-text-block-header">Ссылка на восстановление пароля отправлена.</h2>

        <h4 class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</h4>

        <div class="custom-button-block">
            <a href="{% url 'index' %}"><button class="button button_style_blue">Перейти на главную</button></a>
        </div>
    </div>
</main>
{% endblock %}
