{% extends "base.html" %}
{% block title %}Об авторе{% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/index.css'%}">
{% endblock %}
{% block content %}
<main class="main container" style="padding-top:10px;padding-bottom:30px;">
    <div class="custom-center-block">
        <h2 style="padding-bottom:30px;">Об авторе</h2>
        <div class="card-user__body">
            <p  style="font-family: Arial;  font-size: 16px; line-height: 1.5;">
                Привет!!! Меня зовут Костя и это мой дипломный проект курса
                Яндекс-Практикума "Пайтон бэкэнд разработчик."
            </p>
            <p style="font-family: Arial;  font-size: 16px; line-height: 2;">
                Связаться со мной а также оставить отзывы, рекомендации или
                замечания можно:

                <a class="vk" href="https://vk.com/pure_deception"></a>
                <a class="tg" href="https://t.me/Ray_Robinson"></a>
            </p>
        </div>
    </div>
</main>

{% endblock %}
