{% load recipe_filters %}


<div class="main__header">
    <h1 class="main__title">Рецепты</h1>
    <ul class="tags">
        {% for tag in tags %}
        <li class="tags__item">
            <a id="tags"
               class="tags__checkbox tags__checkbox_style_{{tag.style}} {% if tag.slug in tags_list %} tags__checkbox_active {% endif %}"
               href="?{{tags_links|get_value:tag.slug}}">
            </a>
            <span class="tags__label">{{tag}}</span>
        </li>
        {% endfor %}
    </ul>
</div>