{% extends "base.html" %}
{% block title %}История покупок{% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">История покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for item in page %}
            <li class="shopping-list__item" >
                    <h3 class="recipe__title">{{ item.pub_date }}</h3>
                    <div class=" recipe_reverse">
                        {% for recipe in item.recipes.all %}
                            <p class="single-card__section-item">{{ recipe.title }}</p>
                        {% endfor %}
                    </div>

                <a href="{% url 'recover_shop_list' item.id %}" class="shopping-list__button link" title="Расширит список покупок данными рецптами.">Восстановить</a>

                <a href="{% url 'delete_history' item.id %}" class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator%}
    {% endif %}
</main>
{% endblock %}
